.header {
	border-bottom: 1px solid rgba(52, 81, 94, 1);
	height: 81px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		color: rgba(52, 81, 94, 1);
		font-size: 22px;
		margin: 0;
	}
}

.title {
	text-align: center;
	padding-top: 10px;
	margin: 0;
}

.answer {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	color: rgba(141, 141, 141, 1);
}
.subtitle {
	padding-left: 20px;
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	padding-top: 20px;
}
.container {
	padding: 20px;
	p {
		margin: 0;
		font-size: 16px;
		padding: 6px;
	}
	h4 {
		margin: 0;
		font-size: 20px;
		padding: 4px;
	}
}
.button {
	background: #d32f2f;
	padding: 10px 12px;
	border-radius: 4px;
	background-color: #d32f2f;
	outline: none;
	border: none;
	cursor: pointer;
	color: #fff;
}
